:root {
  --primary-color: #5d5df5;
  --bg-color: #f8f8fb;
  --primary-offset-color: white;
  --secondary-color: #15d3e0;
  --text-color: #4e597c;
  --text-color-light: #b1b4cc;
  --confirm-color: #00a1ee;
}

body {
  background-color: var(--bg-color);
}

a {
  text-decoration: none;
  color: var(--secondary-color);
}

button {
  background-color: var(--secondary-color);
  border-radius: 12px;
  padding: 15px 25px 15px 25px;
  box-shadow: 0 0 10px #15d2e04f;
  color: white;
  border: none;
  font-size: 13px;
  outline: none;
}

button:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}

input:focus {
  outline: none;
}

.card {
  width: 100% !important;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.065);
  overflow: hidden;
  border: none;
  position: relative;
  padding: 30px;
  transition: all 0.3s ease-in-out;
  margin-bottom: 15px;
  object-fit: fill;
}

.label {
  font-size: 12px;
  color: var(--primary-offset-color);
  background: var(--primary-color);
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  height: fit-content;
  padding: 4px 8px 4px 8px;
  margin: 2px 5px 0px 5px;
  font-weight: 600;
}

.base-input {
  border-radius: 12px;
  border: 1px solid #bfc1c3;
  padding: 15px;
  min-width: 180px;

  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.base-input:focus {
  border-color: var(--primary-color);
}

.error-input {
  border-color: #e53e3e !important;
  /* equivalent to border-red-500 */
}

.error-input:focus {
  border-color: #e53e3e !important;
  /* equivalent to border-red-500 */
}

.field-error {
  color: #e53e3e; /* equivalent to text-red-500 */
  font-size: 0.75rem; /* equivalent to text-xs */
  position: absolute;
}

.modal {
  z-index: 100;
  height: 80vh;
  width: 80vw;
  background-color: var(--primary-offset-color);
  border-radius: 6px;
}

.modal-overlay {
  position: fixed;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.246);
}

/* utils */

.primary {
  background: var(--primary-color);
}

.secondary {
  background: var(--secondary-color);
}

.primary-color {
  color: var(--primary-color);
}

.primary-offset-color {
  color: var(--primary-offset-color);
}

.secondary-color {
  color: var(--secondary-color);
}

.text-color {
  color: var(--text-color);
}

.bg-color {
  background-color: var(--bg-color);
}
.bold {
  font-weight: bold;
}

.hexagon {
  content: "\2B22";
}
.pointer {
  cursor: pointer;
}

.ml-5 {
  margin-left: 5px;
}

.mr-5 {
  margin-right: 5px;
}

.mt-5 {
  margin-top: 5px;
}

.mb-5 {
  margin-bottom: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mr-10 {
  margin-right: 10px;
}

.ml-10 {
  margin-left: 10px;
}
.ml-20 {
  margin-left: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-40 {
  margin-bottom: 40px;
}
