.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  margin: 40px 14% 40px 14%;
  min-height: 100vh;
  width: 100%;
}

.topIcon {
  color: var(--text-color-light);
  height: 35px;
  width: 35px;
  margin-left: 5px;
  cursor: pointer;
}

.topIcon:hover {
  color: var(--secondary-color);
}
@media screen and (max-width: 1780px) {
  .main {
    margin: 40px 10% 40px 10%;
  }
}

@media screen and (max-width: 1300px) {
  .main {
    margin: 40px 20px 40px 20px;
  }
}

@media screen and (max-width: 1000px) {
  .main {
    margin: 10px 10px 40px 10px;
  }
}
